src/.vs
src/DataGenerator.EntityFramework.Core/obj
src/DataGenerator.EntityFramework.Core/bin
src/DataGenerator.Program/obj
src/DataGenerator.Program/bin
src/DataGenerator.Test/obj
src/DataGenerator.Test/bin