src/.vs
src/DataGenerator.OpenAI/obj
src/DataGenerator.OpenAI/bin
src/DataGenerator.OpenAI.Program/obj
src/DataGenerator.OpenAI.Program/bin
src/DataGenerator.OpenAI.Test/obj
src/DataGenerator.OpenAI.Test/bin